@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mulish';
  font-display: swap;
  font-style: italic;
  src: url('/font/Mulish-Italic-VariableFont_wght.woff2') format('woff2');
}
@font-face {
  font-family: 'Mulish';
  font-display: swap;
  font-style: normal;
  src: url('/font/Mulish-VariableFont_wght.woff2') format('woff2');
}
@font-face {
  font-family: 'FiraCode';
  font-display: swap;
  src: url('/font/FiraCode-VariableFont_wght.woff2') format('woff2');
}

body {
  font-family: 'Mulish';
  font-variation-settings: 'wght' 300;
  line-height: 1.25;
  background-color: var(--bg-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

/* GENERAL */

html,
body,
#svelte {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
  font-variation-settings: 'wght' 500;
}

p {
  text-align: justify;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

img {
  height: auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 82%;
  font-weight: normal;
}

h1 {
  font-size: min(6rem, 12vw);
}

h2 {
  font-size: min(4rem, 9vw);
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: none;
  border-bottom: var(--line-size) solid currentColor;
}

/* UTILITY */

.bg {
  background-color: var(--bg-color);
}

.mono {
  font-family: 'FiraCode', monospace;
  font-variation-settings: 'wght' 400;
}
