@font-face {
  font-family: 'Mulish';
  font-display: swap;
  src: url('/font/Mulish.woff2') format('woff2');
}
@font-face {
  font-family: 'FiraCode';
  font-display: swap;
  src: url('/font/FiraCode.woff2') format('woff2');
}

body {
  font-family: 'Mulish';
  font-variation-settings: 'wght' 300;
  line-height: 1.25;
  background-color: var(--bg-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

html,
body,
#svelte {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

p {
  text-align: justify;
  line-height: 1.5;
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}

svg {
  height: 0.9em;
  width: 0.9em;
  transform: translateY(10%);
  fill: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 82%;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: none;
  border-bottom: var(--line-size) solid currentColor;
}

.mono {
  font-family: 'FiraCode', monospace;
  font-variation-settings: 'wght' 400;
}

@media (max-width: 50rem) {
  .mobile-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
